In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test_answers.csv')

In [3]:
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [4]:
test.set_index('Unnamed: 0', inplace=True)
test.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,cnt
Unnamed: 0,,,,,,,,,,,,
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027,3,13,16
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000,8,32,40
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000,5,27,32
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014,3,10,13
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014,0,1,1

In [5]:
train.columns = ['datetime', 'season', 'holiday', 'workingday', 'weather', 'temperature',
       'feel_temperature', 'humidity', 'windspeed', 'casual', 'registered', 'total']

In [6]:
test.columns = train.columns

In [7]:
train.head()

,datetime,season,holiday,workingday,weather,temperature,feel_temperature,humidity,windspeed,casual,registered,total
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [8]:
test.head()

,datetime,season,holiday,workingday,weather,temperature,feel_temperature,humidity,windspeed,casual,registered,total
Unnamed: 0,,,,,,,,,,,,
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027,3,13,16
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000,8,32,40
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000,5,27,32
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014,3,10,13
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014,0,1,1

In [9]:
df = pd.concat([train, test])

In [10]:
df = df.sort_values('datetime').reset_index()

In [11]:
df.head()

,index,datetime,season,holiday,workingday,weather,temperature,feel_temperature,humidity,windspeed,casual,registered,total
0,0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [12]:
df["hour"] = [t.hour for t in pd.DatetimeIndex(df.datetime)]
df["day"] = [t.dayofweek for t in pd.DatetimeIndex(df.datetime)]
df["month"] = [t.month for t in pd.DatetimeIndex(df.datetime)]
df['year'] = [t.year for t in pd.DatetimeIndex(df.datetime)]
df.head()

,index,datetime,season,holiday,workingday,weather,temperature,feel_temperature,humidity,windspeed,casual,registered,total,hour,day,month,year
0,0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,0,5,1,2011
1,1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,1,5,1,2011
2,2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2,5,1,2011
3,3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,3,5,1,2011
4,4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,4,5,1,2011

In [13]:
df.columns

Index(['index', 'datetime', 'season', 'holiday', 'workingday', 'weather',
       'temperature', 'feel_temperature', 'humidity', 'windspeed', 'casual',
       'registered', 'total', 'hour', 'day', 'month', 'year'],
      dtype='object')

In [14]:
df = df[['datetime', 'year', 'month','day', 'hour','season', 'holiday', 'workingday', 'weather', 'temperature',
       'feel_temperature', 'humidity', 'windspeed',   'casual', 'registered',
       'total']]

In [15]:
df.head()

,datetime,year,month,day,hour,season,holiday,workingday,weather,temperature,feel_temperature,humidity,windspeed,casual,registered,total
0,2011-01-01 00:00:00,2011,1,5,0,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,2011,1,5,1,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,2011,1,5,2,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,2011,1,5,3,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,2011,1,5,4,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [16]:
# df.to_csv('bike_demand.csv')

In [17]:
df[df.datetime > "2012-10-28 00:00:00"]

,datetime,year,month,day,hour,season,holiday,workingday,weather,temperature,feel_temperature,humidity,windspeed,casual,registered,total
15860,2012-10-28 01:00:00,2012,10,6,1,4,0,0,2,20.50,24.240,72,19.0012,21,264,285
15861,2012-10-28 02:00:00,2012,10,6,2,4,0,0,2,20.50,24.240,68,19.9995,18,219,237
15862,2012-10-28 03:00:00,2012,10,6,3,4,0,0,2,20.50,24.240,63,22.0028,14,212,226
15863,2012-10-28 04:00:00,2012,10,6,4,4,0,0,2,20.50,24.240,63,23.9994,3,93,96
15864,2012-10-28 05:00:00,2012,10,6,5,4,0,0,2,20.50,24.240,63,19.9995,4,34,38
15865,2012-10-28 06:00:00,2012,10,6,6,4,0,0,2,20.50,24.240,59,22.0028,3,26,29
15866,2012-10-28 07:00:00,2012,10,6,7,4,0,0,2,20.50,24.240,59,19.9995,3,21,24
15867,2012-10-28 08:00:00,2012,10,6,8,4,0,0,2,20.50,24.240,59,36.9974,3,11,14
15868,2012-10-28 09:00:00,2012,10,6,9,4,0,0,2,20.50,24.240,55,27.9993,0,4,4
15869,2012-10-28 10:00:00,2012,10,6,10,4,0,0,2,19.68,23.485,51,27.9993,0,2,2
15870,2012-10-28 11:00:00,2012,10,6,11,4,0,0,2,20.50,24.240,51,26.0027,0,3,3
15871,2012-10-28 12:00:00,2012,10,6,12,4,0,0,2,19.68,23.485,59,32.9975,1,13,14
15872,2012-10-28 13:00:00,2012,10,6,13,4,0,0,2,19.68,23.485,59,27.9993,1,55,56
15873,2012-10-28 14:00:00,2012,10,6,14,4,0,0,2,20.50,24.240,59,30.0026,7,172,179
15874,2012-10-28 15:00:00,2012,10,6,15,4,0,0,2,20.50,24.240,63,32.9975,7,188,195
15875,2012-10-28 16:00:00,2012,10,6,16,4,0,0,3,19.68,23.485,67,31.0009,4,65,69
15876,2012-10-28 17:00:00,2012,10,6,17,4,0,0,3,18.86,22.725,77,35.0008,8,57,65
15877,2012-10-28 18:00:00,2012,10,6,18,4,0,0,3,17.22,21.210,94,32.9975,16,82,98
15878,2012-10-28 19:00:00,2012,10,6,19,4,0,0,3,17.22,21.210,94,23.9994,17,85,102
15879,2012-10-28 20:00:00,2012,10,6,20,4,0,0,3,17.22,21.210,94,31.0009,14,112,126
15880,2012-10-28 21:00:00,2012,10,6,21,4,0,0,3,18.04,21.970,88,27.9993,15,105,120
15881,2012-10-28 22:00:00,2012,10,6,22,4,0,0,3,18.04,21.970,88,23.9994,24,115,139
15882,2012-10-28 23:00:00,2012,10,6,23,4,0,0,3,17.22,21.210,94,23.9994,5,151,156
15883,2012-10-29 00:00:00,2012,10,0,0,4,0,1,3,18.04,21.970,88,23.9994,11,102,113
15884,2012-10-30 13:00:00,2012,10,1,13,4,0,1,3,12.30,13.635,81,23.9994,2,66,68
15885,2012-10-30 14:00:00,2012,10,1,14,4,0,1,3,12.30,13.635,81,23.9994,1,51,52
15886,2012-10-30 15:00:00,2012,10,1,15,4,0,1,3,12.30,14.395,87,16.9979,6,83,89
15887,2012-10-30 16:00:00,2012,10,1,16,4,0,1,3,12.30,14.395,87,16.9979,6,76,82
15888,2012-10-30 17:00:00,2012,10,1,17,4,0,1,3,12.30,14.395,87,15.0013,5,65,70
15889,2012-10-30 18:00:00,2012,10,1,18,4,0,1,3,12.30,15.150,87,8.9981,0,26,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17349,2012-12-30 18:00:00,2012,12,6,18,1,0,0,2,9.84,10.605,44,19.9995,3,53,56
17350,2012-12-30 19:00:00,2012,12,6,19,1,0,0,1,13.94,18.180,61,0.0000,12,58,70
17351,2012-12-30 20:00:00,2012,12,6,20,1,0,0,1,9.02,9.850,47,22.0028,8,57,65
17352,2012-12-30 21:00:00,2012,12,6,21,1,0,0,1,8.20,10.605,51,11.0014,4,43,47
17353,2012-12-30 22:00:00,2012,12,6,22,1,0,0,1,8.20,9.850,55,12.9980,1,23,24
17354,2012-12-30 23:00:00,2012,12,6,23,1,0,0,1,8.20,9.850,51,15.0013,3,27,30
17355,2012-12-31 00:00:00,2012,12,0,0,1,0,1,1,7.38,9.090,55,12.9980,4,5,9
17356,2012-12-31 01:00:00,2012,12,0,1,1,0,1,1,7.38,9.090,55,12.9980,4,3,7
17357,2012-12-31 02:00:00,2012,12,0,2,1,0,1,1,6.56,8.335,59,11.0014,0,7,7
17358,2012-12-31 03:00:00,2012,12,0,3,1,0,1,1,6.56,9.090,59,7.0015,2,13,15
17359,2012-12-31 04:00:00,2012,12,0,4,1,0,1,1,5.74,8.335,69,7.0015,5,24,29
17360,2012-12-31 05:00:00,2012,12,0,5,1,0,1,1,6.56,7.575,64,12.9980,14,50,64
17361,2012-12-31 06:00:00,2012,12,0,6,1,0,1,1,6.56,8.335,64,11.0014,19,96,115
17362,2012-12-31 07:00:00,2012,12,0,7,1,0,1,1,6.56,9.090,64,8.9981,60,188,248
17363,2012-12-31 08:00:00,2012,12,0,8,1,0,1,1,5.74,7.575,69,8.9981,74,218,292
17364,2012-12-31 09:00:00,2012,12,0,9,1,0,1,2,7.38,10.605,64,7.0015,78,243,321
17365,2012-12-31 10:00:00,2012,12,0,10,1,0,1,2,8.20,10.605,69,8.9981,84,224,308
17366,2012-12-31 11:00:00,2012,12,0,11,1,0,1,2,9.02,11.365,60,12.9980,61,195,256
17367,2012-12-31 12:00:00,2012,12,0,12,1,0,1,2,9.84,11.365,56,12.9980,29,144,173
17368,2012-12-31 13:00:00,2012,12,0,13,1,0,1,2,10.66,12.880,44,11.0014,44,162,206
17369,2012-12-31 14:00:00,2012,12,0,14,1,0,1,2,11.48,13.635,45,15.0013,32,135,167
17370,2012-12-31 15:00:00,2012,12,0,15,1,0,1,2,11.48,14.395,45,8.9981,16,158,174
17371,2012-12-31 16:00:00,2012,12,0,16,1,0,1,2,10.66,12.880,48,12.9980,34,128,162
17372,2012-12-31 17:00:00,2012,12,0,17,1,0,1,2,10.66,14.395,48,6.0032,16,71,87
17373,2012-12-31 18:00:00,2012,12,0,18,1,0,1,2,10.66,13.635,48,8.9981,17,71,88
17374,2012-12-31 19:00:00,2012,12,0,19,1,0,1,2,10.66,12.880,60,11.0014,9,55,64
17375,2012-12-31 20:00:00,2012,12,0,20,1,0,1,2,10.66,12.880,60,11.0014,6,19,25
17376,2012-12-31 21:00:00,2012,12,0,21,1,0,1,1,10.66,12.880,60,11.0014,3,13,16
17377,2012-12-31 22:00:00,2012,12,0,22,1,0,1,1,10.66,13.635,56,8.9981,1,5,6
17378,2012-12-31 23:00:00,2012,12,0,23,1,0,1,1,10.66,13.635,65,8.9981,0,4,4

In [33]:
df_true =  pd.read_csv('bike_sharing_hour.csv')

In [34]:
compare = pd.concat([df[['datetime','total']],df_true.cnt], axis=1)
compare[compare.total != compare.cnt]

Empty DataFrame
Columns: [datetime, total, cnt]
Index: []

In [30]:
# df['total'] = df_true['cnt']